name = "{{ package_name }}"
uuid = "{{ package_uuid.stdout | replace('\r', '') }}"
authors = [
{{ package_authors | join(",\n") }}
]

# Transpiled from GAP's {{ package_name }} v{{ package_version_in_gap.stdout | replace('\r', '') }}
version = "{{ current_version.stdout | replace('\r', '') }}"

[deps]
{% if dependencies %}
{{ uuids_list[0] }}
{% endif %}

[weakdeps]
{% if weak_dependencies %}
{{ uuids_list[1] }}
{% endif %}

[extensions]
{% if extensions %}
{% for ext, ext_dependencies in extensions.items() %}
{{ ext }} = {{ ext_dependencies | to_json }}
{% endfor %}
{% endif %}

[compat]
{{ compat_section.stdout | replace('\r', '') }}
{% if missing_compat_entries %}
{% for entry in missing_compat_entries %}
{{ entry }} = "Please set the compatibility version"
{% endfor %}
{% endif %}

[extras]
{% if extras %}
{{ uuids_list[2] }}
{% endif %}

[targets]
{% for target, packages in targets.items() %}
{% if packages == "default" %}
{{ target }} = {{ extras | to_json }}
{% else %}
{{ target }} = {{ packages | to_json }}
{% endif %}
{% endfor %}
