<!-- BEGIN HEADER -->
# {{ package_name }}

### {{ package_subtitle | replace('\n', '') }}

| Documentation |
| ------------- |
| [![HTML stable documentation][html-img]][html-url] [![PDF stable documentation][pdf-img]][pdf-url] |

<!-- END HEADER -->

This is the Julia version of the [CAP-based][CAP_based] package [{{ package_name }}][{{ package_name }}].

[CAP_based]: https://homalg-project.github.io/docs/CAP_project-based/
[{{ package_name }}]: https://homalg-project.github.io/pkg/{{ package_name }}

<!-- BEGIN FOOTER -->
[html-img]: https://img.shields.io/badge/🔗%20HTML-stable-blue.svg
[html-url]: https://homalg-project.github.io/{{ package_url }}/doc/chap0_mj.html

[pdf-img]: https://img.shields.io/badge/🔗%20PDF-stable-blue.svg
[pdf-url]: https://homalg-project.github.io/{{ package_url }}/download_pdf.html
<!-- END FOOTER -->
