{% if disable_method_overwrite_warning %}
# set warn_overwrite to 0
opts = Base.JLOptions()
opts_dict = Dict(key=>getfield(opts, key) for key ∈ fieldnames(Base.JLOptions))
opts_dict[:warn_overwrite] = 0
new_opts = Base.JLOptions(getindex.(Ref(opts_dict), Symbol.(fieldnames(Base.JLOptions)))...)
unsafe_store!(Base.cglobal(:jl_options, Base.JLOptions), new_opts)

{% endif %}
{% if targets.test == 'default' %}
using {{ extras | join(', ') }}, {{ package_name }}
{% else %}
using {{ targets.test | join(', ') }}, {{ package_name }}
{% endif %}

{% if test_upto_whitespaces  %}
# test upto whitespaces
doctest({{ package_name }}; doctestfilters=[r"\s+" => ""])
{% else %}
doctest({{ package_name }})
{% endif %}
