#!/bin/bash

set -e

# Check if token exists
if [ -z "$JULIA_SUBSPLIT_TOKEN" ]; then
{% if monorepo.plain_subsplit_output | default(false) %}
  echo "ERROR: Missing JULIA_SUBSPLIT_TOKEN"
{% else %}
  echo -e "\033[31mERROR: Missing JULIA_SUBSPLIT_TOKEN\033[0m"
{% endif %}
  exit 1
fi

# update git index
git status > /dev/null

if ! git diff-index --quiet HEAD; then
{% if monorepo.plain_subsplit_output | default(false) %}
	echo "WARNING: Dirty working tree."
{% else %}
	echo -e "\033[33mWARNING: Dirty working tree.\033[0m"
{% endif %}
fi

if [[ "$(git rev-parse --abbrev-ref HEAD)" != "master" ]]; then
{% if monorepo.plain_subsplit_output | default(false) %}
	echo "ERROR: Not on branch master"
{% else %}
	echo -e "\033[31mERROR: Not on branch master\033[0m"
{% endif %}
	exit 1
fi
{% for package in monorepo.packages %}

# {{ package }}
git subtree split --prefix={{ package }} -b {{ package }}-split > /dev/null 2>&1
git push https://${JULIA_SUBSPLIT_TOKEN}@github.com/homalg-project/{{ package }}.jl.git {{ package }}-split:master
{% if monorepo.plain_subsplit_output | default(false) %}
echo "Pushed to {{ package }}.jl"
{% else %}
echo "Pushed to {{ package }}.jl"
{% endif %}
{% endfor %}
