codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
fixes:
  - "/home/gap/.gap/pkg/{{ package.name }}/::"
ignore:
  - "home/"
{% if is_meta_package %}
flags:
{% for doc_package in doc_packages %}
  {{ doc_package.name }}:
    paths:
      - "{{ doc_package.name }}/"
{% endfor %}
{% endif %}
