## Packages part of or based on [{{ name }}](https://homalg-project.github.io/prj/{{ name }}):

| Name | Description | Documentation | Build Status | Code Coverage | Status |
| ---- | ----------- | ------------- | ------------ | ------------- | ------ |
{% for package in packages_enriched %}
| [{{ package.name }}](https://homalg-project.github.io/pkg/{{ package.name }}) | {# -#}
  {{ package.description }} | {# -#}
  {%- if package.has_docu -%}
    [![HTML stable documentation][html-{{ package.name }}-img]][html-{{ package.name }}-url] [![PDF stable documentation][pdf-{{ package.name }}-img]][pdf-{{ package.name }}-url] | {# -#}
    [![Build Status][tests-{{ package.name }}-img]][tests-{{ package.name }}-url] | {# -#}
    [![Code Coverage][codecov-{{ package.name }}-img]][codecov-{{ package.name }}-url] | {# -#}
  {%- else -%}
    N/A | {# -#}
    N/A | {# -#}
    N/A | {# -#}
  {%- endif %}
  {%- if package.status == "deposited" -%}
  [deposited][deposited-{{ package.name }}-url]
  {%- else -%}
  {{ package.status }}
  {%- endif %} |
{% endfor %}

{% for package in packages_enriched %}
{% if package.has_docu %}
[html-{{ package.name }}-img]: https://img.shields.io/badge/HTML-stable-blue.svg
[html-{{ package.name }}-url]: https://homalg-project.github.io/{{ package.path }}/doc/chap0_mj.html

[pdf-{{ package.name }}-img]: https://img.shields.io/badge/PDF-stable-blue.svg
[pdf-{{ package.name }}-url]: https://homalg-project.github.io/{{ package.path }}/download_pdf.html

[tests-{{ package.name }}-img]: https://github.com/homalg-project/{{ package.repo_name }}/actions/workflows/Tests.yml/badge.svg?branch=master
[tests-{{ package.name }}-url]: https://github.com/homalg-project/{{ package.repo_name }}/actions/workflows/Tests.yml?query=branch%3Amaster

{% if package.name == package.repo_name %}
[codecov-{{ package.name }}-img]: https://codecov.io/gh/homalg-project/{{ package.name }}/branch/master/graph/badge.svg
[codecov-{{ package.name }}-url]: https://app.codecov.io/gh/homalg-project/{{ package.name }}
{% else %}
[codecov-{{ package.name }}-img]: https://codecov.io/gh/homalg-project/{{ package.repo_name }}/branch/master/graph/badge.svg?flag={{ package.name }}
[codecov-{{ package.name }}-url]: https://app.codecov.io/gh/homalg-project/{{ package.repo_name }}/tree/master/{{ package.name }}
{% endif %}

{% endif %}
{% if package.status == "deposited" %}
[deposited-{{ package.name }}-url]: https://www.gap-system.org/Packages/{{ package.name.lower() }}.html

{% endif %}
{% endfor %}
