## Packages of [{{ meta_package.name }}](https://github.com/homalg-project/{{ meta_package.name }}):

| Name | Description | Documentation | Status |
| ---- | ----------- | ------------- | ------ |
{% for package in packages_enriched %}
| [{{ package.name }}](https://github.com/homalg-project/{{ meta_package.name }}/tree/master/{{ package.name }}) | {# -#}
  {{ package.description }} | {# -#}
  [![HTML stable documentation][html-{{ package.name }}-img]][html-{{ package.name }}-url] [![PDF stable documentation][pdf-{{ package.name }}-img]][pdf-{{ package.name }}-url] | {# -#}
  {%- if package.status == "deposited" -%}
  [deposited][deposited-{{ package.name }}-url]
  {%- else -%}
  {{ package.status }}
  {%- endif %} |
{% endfor %}

{% for package in packages_enriched %}
[html-{{ package.name }}-img]: https://img.shields.io/badge/HTML-stable-blue.svg
[html-{{ package.name }}-url]: https://homalg-project.github.io/{{ meta_package.name }}/{{ package.name }}/doc/chap0_mj.html

[pdf-{{ package.name }}-img]: https://img.shields.io/badge/PDF-stable-blue.svg
[pdf-{{ package.name }}-url]: https://homalg-project.github.io/{{ meta_package.name }}/{{ package.name }}/download_pdf.html

{% if package.status == "deposited" %}
[deposited-{{ package.name }}-url]: https://www.gap-system.org/Packages/{{ package.name.lower() }}.html

{% endif %}

{% endfor %}
