# {{ package.name|replace("_", " ") }}&ensp;<sup><sup>[![View code][code-img]][code-url]</sup></sup>

### {{ package.description }}

{% if is_meta_package %}
| Build Status | Code Coverage |
| ------------ | ------------- |
| [![Build Status][tests-img]][tests-url] | [![Code Coverage][codecov-img]][codecov-url] |
{% else %}
| Documentation | Latest Release | Build Status{% if meta_package is defined %} of [{{ meta_package.name }}](/../../){% endif %} | Code Coverage |
| ------------- | -------------- | ------------ | ------------- |
| [![HTML stable documentation][html-img]][html-url] [![PDF stable documentation][pdf-img]][pdf-url] | [![version][version-img]][version-url] [![date][date-img]][date-url] | [![Build Status][tests-img]][tests-url] | [![Code Coverage][codecov-img]][codecov-url] |
{% endif %}

