{% if is_meta_package %}
{% for doc_package in doc_packages -%}
{% if doc_package.has_gh_pages -%}
[docs-{{ doc_package.name }}-img]: https://img.shields.io/badge/{{ doc_package.name }}-HTML-blue.svg
[docs-{{ doc_package.name }}-url]: https://homalg-project.github.io/{{ doc_package.path }}/doc/chap0_mj.html

{% else -%}
[docs-{{ doc_package.name }}-img]: https://img.shields.io/badge/{{ doc_package.name }}-PDF-blue.svg
[docs-{{ doc_package.name }}-url]: /../../raw/doc/{{ doc_package.name }}.pdf

{% endif -%}
{% endfor %}
{% else %}
{% if package.has_gh_pages -%}
[docs-img]: https://img.shields.io/badge/HTML-stable-blue.svg
[docs-url]: https://homalg-project.github.io/{{ package.path }}/doc/chap0_mj.html

{% else -%}
[docs-img]: https://img.shields.io/badge/PDF-dev-blue.svg
[docs-url]: /../../raw/doc/{{ package.name }}.pdf

{% endif -%}
{% endif %}
{% if meta_package is defined -%}
[tests-img]: https://github.com/homalg-project/{{ meta_package.name }}/workflows/Tests/badge.svg?branch=master
[tests-url]: https://github.com/homalg-project/{{ meta_package.name }}/actions?query=workflow%3ATests+branch%3Amaster

[codecov-img]: https://codecov.io/gh/homalg-project/{{ meta_package.name }}/branch/master/graph/badge.svg
[codecov-url]: https://codecov.io/gh/homalg-project/{{ meta_package.name }}
{% else %}
[tests-img]: https://github.com/homalg-project/{{ package.name }}/workflows/Tests/badge.svg?branch=master
[tests-url]: https://github.com/homalg-project/{{ package.name }}/actions?query=workflow%3ATests+branch%3Amaster

[codecov-img]: https://codecov.io/gh/homalg-project/{{ package.name }}/branch/master/graph/badge.svg
[codecov-url]: https://codecov.io/gh/homalg-project/{{ package.name }}
{% endif -%}
