# {{ package.name|replace("_", " ") }}

### {{ package.description }}

{% if is_meta_package %}
| Build Status | Code Coverage |
| ------------ | ------------- |
| [![Build Status][tests-img]][tests-url] | [![Code Coverage][codecov-img]][codecov-url] |
{% else %}
| Documentation | Build Status{% if meta_package is defined %} of [{{ meta_package.name }}](/../../){% endif %} | Code Coverage{% if meta_package is defined %} of [{{ meta_package.name }}](/../../){% endif %} | Latest Release |
| ------------- | ------------ | ------------- | -------------- |
| [![HTML stable documentation][html-img]][html-url] [![PDF stable documentation][pdf-img]][pdf-url] | [![Build Status][tests-img]][tests-url] | [![Code Coverage][codecov-img]][codecov-url] | [![version][version-img]][version-url] [![date][date-img]][date-url] |
{% endif %}

