#!/bin/bash

set -e
{% if is_meta_package %}
{% for subpackage in subpackages %}

# {{ subpackage.name }}
./dev/release-gap-package --skip-existing-release --srcdir "$PWD/{{ subpackage.name }}" --webdir "$PWD/gh-pages/{{ subpackage.name }}" --update-script "$PWD/gh-pages/update.g" --release-script "$PWD/dev/.release" --only-tarball
{% if subpackage.has_subsplit is defined and subpackage.has_subsplit %}
# creating subsplits is slow and should only rarely result in errors -> do not simulate to keep testing PRs as fast as possible
#git subtree split --prefix={{ subpackage.name }} -b {{ subpackage.name }}-split
{% endif %}
{% endfor %}
{% else %}

./dev/release-gap-package --skip-existing-release --release-script dev/.release --only-tarball
{% endif %}
